#search-input {
    transition-duration: 300ms;
    height: 60px;
    width: 50%;
    text-align: center;
    border: 1px solid white;
    border-radius: 30em;
    box-shadow: 0px 0px 5px black;
}
#search-input:focus {
    transition-duration: 500ms;
    outline: none;
    box-shadow: 0px 0px 50px black;
}
#search-instruction {
    height: 100%;
    font-size: 1.5em;
    width: auto;
    margin: 0 auto;
    color: white;
}
.search-wrapper {
    height: 10%;
    padding: 2.5% 0;
}

/* _________________________________search results___________________________ */
.search-results-wrapper {
    height: 90%;
    padding: 2.5% 0;
}